:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;

    --font-family: "Montserrat", "Arial", sans-serif;
    --second-family: "Gabriola", sans-serif;
}

.body {
    background: var(--fonovyy-svetlyy);
    font-family: var(--font-family);
    color: var(--nabornyy);
    line-height: 1.5;
    font-weight: 400;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    max-width: 1308px;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: block;
    max-height: 62px;
    background-color: var(--akcentnyy);
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    color: var(--nabornyy);
    border-radius: 60px;
    padding: 18px;
    transition: all .4s;
    cursor: pointer;
}

.button:hover {
    background-color: #ff9138;
}

/*=============================HEADER=================================*/
.header {
    background-image: url(../image/decor/Head-fon.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__top {
    padding-top: 19px;
}

.header__top__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.inner__logo {
    max-width: 174.23px;
    position: relative;
    z-index: 12;
}

.nav__list {
    display: flex;
    gap: 4vh 4vw;
}

.nav__link {
    position: relative;
    z-index: 1;
    display: block;
    padding: 5px 0 5px;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    z-index: -1;

    opacity: 0;
    transition: all 0.6s;
}

.nav__link:hover::before {
    opacity: 1;
}


.nav__open-menu {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
}
.nav__open-menu span,
.nav__open-menu span::after,
.nav__open-menu span::before {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #1f1711;
    border-radius: 10px;
    transition: all .3s;
}
.nav__open-menu span::after,
.nav__open-menu span::before {
    content: '';
    position: absolute;
}
.nav__open-menu span::after {
    top: 5px;
}
.nav__open-menu span::before {
    bottom: 5px;
}

.body--opened-menu .nav__open-menu span::before,
.body--opened-menu .nav__open-menu span::after {
    transition: all 0.3s;
}
.body--opened-menu .nav__open-menu span {
    background-color: transparent;
}
.body--opened-menu .nav__open-menu span::before {
    bottom: 12.5px;
    transform: rotate(-45deg);
}
.body--opened-menu .nav__open-menu span::after {
    top: 12.5px;
    transform: rotate(45deg);
}





.header__hero {
    margin: 48px 0 140px 0;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero__heading {
    margin-top: 82px;
    max-width: 519px;
}

.heading__lettering {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: #b197b2;
}

.lettering {
    text-transform: uppercase;
    line-height: 1.6;
    display: flex;
    align-items: center;
}

.lettering::after {
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #b197b2;
    margin: 0 10px;
}

.lettering:last-child::after {
    content: none;
}

.heading__intro {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: 82%;
    color: var(--zagolovochnyy);
    margin-bottom: 30px;
}

.heading__description {
    max-width: 358px;
    font-family: var(--font-family);
    color: var(--nabornyy);
    margin-bottom: 40px;
}

.heading__button {
    max-width: 358px;
}

.hero__perfomance {
    margin-right: 19.297%;
    position: relative;
}



.perfomance__button__position {
    position: absolute;
    bottom: 11.235%;
    left: calc(100% - 38px);
    display: flex;
    align-items: center;
    gap: 10px;
}
.perfomance__button__position p {
    flex-shrink: 0;
    max-width: 112px;
    align-items: center;
}

.perfomance__button {
    flex-shrink: 0;
    background-color: var(--fonovyy);
    display: block;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}
.perfomance__button img {
    position: absolute;
    top: 32.055%;
    left: 38.47%;
}
.perfomance__button::before {
    position: absolute;
    content: '';
    display: block;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--akcentnyy);
    opacity: 0;
    transition: all 0.3s;
}
.perfomance__button:hover::before {
    opacity: 1;
}

/*===============ADAPTIVE===============================*/
@media (max-width: 900px) {

    .nav__open-menu {
        display: block;
        position: absolute;
        z-index: 10;
        top: 15px;
        right: 15px;
    }
    .nav {
        visibility: hidden;
        background-color: var(--fonovyy-svetlyy);
        position: fixed;
        inset: 0;
        z-index: 10;
        opacity: 0;
        transform: translateY(-50%);
        transition: all .5s;

    }
    .inner__logo {
        padding: 1vh 1vw;
        max-width: 40vw;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
        font-size: 5vw;
        padding: 15vh 5vw;
        margin-top: 10vh;
    }
}
/*=========================SCRIPT=====================*/
.body--opened-menu .nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}