.header {
    min-height: 900px;
}
.header__top {
    position: relative;
    z-index: 10;
    background-color: #ffffff00;
    transition: var(--transition);
}
.header__hero {
    padding-top: 103px;
    height: 51.89vw
}

.top__inner {
    display: flex;
    gap: 25px;
}

.top__content {
    height: 101px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.top__adaptive-content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.top__logo {
    margin-top: -18px;
}
.top__logo-img-adaptive {
    display: none;
}

.top__socials {
    height: 17px;
    max-width: 80px;
    gap: 15px;
}

.top__navigation {
    margin-left: 8px;
}

.top__lang-list {
    margin-left: 16px;
    display: flex;
    gap: 5px;
    width: 56px;
    justify-content: space-between;
}

.top__lang-item {
    font-size: 12px;
    color: var(--light-grey);
    text-transform: uppercase;
}

.top__request {
    display: flex;
    gap: 14px;
    align-items: center;
    border-radius: 25px;
    width: 215px;
    height: 48px;
    box-shadow: 0 0 25px 0 rgba(82, 191, 255, 0.15);
    background: #fff;
    padding: 5px;
}

.top__request div {
    border-radius: 50%;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    background: linear-gradient(214deg, #b1e2ff 0%, #68c7ff 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top__request img {
    position: absolute;
}

.top__request p {
    color: var(--blue);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.top__info.info {
    display: none;
}
.top__info-img-point {
    padding: 0 1.5px 0 2.5px;
}


.hero__inner {
    position: relative;
    z-index: 1;
    height: 100%;
}
.hero__title {
    max-width: 720px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    color: var(--dark-grey);
}

.hero__title span {
    color: var(--blue);
}

.hero__text {
    display: block;
    margin-top: 25px;
    max-width: 677px;
    font-size: 18px;
    color: var(--light-grey);
    position: relative;
}

.hero__button {
    margin-top: 66px;
    position: relative;
}

.hero__text img {
    position: absolute;
    top: 56%;
    left: -8.8%;
}
.hero__info {
    position: absolute;
    bottom: 0;
    max-width: 500px;
    justify-content: space-between;
    gap: 15px;
    z-index: 1;
}

.header__slider {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}

.header__slider-wrapper {
    position: relative;
}
.swiper-slide-active {
    opacity: 1;
    visibility: visible;
}
.header__slide-bg {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 900px;
    object-fit: cover;
    z-index: 1;
}
.header__slide-tower,
.header__slide-flag,
.header__slide-box,
.header__slide-clouds,
.header__slide-top-clouds {
    position: absolute;
    transform: scale(1);
}
.header__slide-top-clouds {
    display: none;
    z-index: 1;
}
.header__slide-tower {
    bottom: 0;
    right: 2.7%;
    z-index: 3;
}
.header__slide-flag {
    overflow: hidden;
    bottom: -33.5%;
    right: 16.8%;
    z-index: 1;
}
.header__slide-box {
    bottom: -7.5%;
    right: 12.2%;
    transform: rotate(-11deg);
    z-index: 2;
}
.header__slide-clouds {
    bottom: -33%;
    right: 0;
    left: 10%;
    z-index: 4;
}
.header__pagination.swiper-pagination {
    bottom: 90px;
}

.swiper-pagination-bullet {
    border-radius: 5px;
    width: 18px;
    height: 4px;
    background: #fff;
    opacity: 0.65;
}

.swiper-pagination-bullet-active {
    border-radius: 5px;
    width: 30px;
    height: 6px;
    background: var(--red);
}

.burger {
    width: 37px;
    height: 37px;
    position: relative;
    display: none;
}
.burger img {
    position: absolute;
}
.burger-icon-top {
    margin-top: 0px;
    transition: var(--transition);
}
.burger-icon-cntr {
    margin-top: 8px;
    margin-left: 3px;
    transform: rotate(180deg) scaleY(-1);
    transition: var(--transition);
}
.burger-icon-bot {
    margin-top: 16px;
    transform: scaleY(-1);
    transition: var(--transition);
}

